# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React build directory
build/
.env
.env.local
.env.development
.env.test
.env.production

# IDE files (optional, if you're using VS Code or other editors)
.vscode/
.idea/
.project
.settings/

# Logs
logs/
*.log
